@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: #e4e9ee;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  color: #444;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.block {
  display: block;
}

.no-border {
  border: none;
}

.text-center {
  text-align: center;
}

.form {
  width: 600px;
  max-width: 100%;
  margin: 35px auto 15px auto;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.form__heading {
  line-height: 75px;
  padding: 0 35px;
  background: #555;
  color: #fff;
  font-size: 24px;
}

.form__body {
  padding: 35px;
}

.form__footer {
  padding: 15px 35px 35px;
}

.form__group {
  clear: both;
  margin-bottom: 35px;
}

.form__label {
  margin-bottom: 15px;
  color: #777;
  font-weight: normal;
}

.form__field {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #f3f3f3;
  padding: 0 15px;
  color: #555;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form__field:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

select {
  outline: 0;
  border: none;
  border-radius: 0;
}

.form__btn {
  padding: 0 25px;
  background: #555;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__btn:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__btn:focus {
  outline: none;
}

.form__btn:active {
  background: #777;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.msg {
  width: 600px;
  max-width: 100%;
  margin: 35px auto 15px auto;
  padding: 50px;
  background: #fff;
  color: #555;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.msg__title h1 {
  font-size: 32px;
  line-height: 32px;
  color: #333;
  margin: 0;
}

.msg__title h1 span {
  margin-right: 15px;
}

.msg__title--invalid h1 {
  color: #ff5c5c;
}

.msg__title--confirmed h1 {
  color: #00C12C;
}

.msg__body {
  font-size: 18px;
  line-height: 30px;
}

.msg__footer {
  margin-top: 35px;
}

.msg__footer a {
  color: #777;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px dotted #aaa;
}

.msg__footer a span {
  color: #4a55ff;
}

.msg__footer a span i {
  position: relative;
  top: 2px;
}

/******
******* SELECT2 OVERRIDES
******/
.select2-container--default .select2-selection--multiple {
  background: #f2f2f2;
  border: none;
  border-radius: 0;
  height: 50px;
  line-height: 28px;
  padding: 5px 15px;
}

.select2-container {
  max-width: 100%;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.select2-dropdown {
  background-color: #f3f3f3;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #e9e9e9;
}

/******
******* END OF SELECT2 OVERRIDES
******/

#container {
  height: 100vh;
  padding-top: 60px;
}

header {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #646464;
}

header .sidebar-toggle-btn {
  padding: 0 15px;
  cursor: pointer;
}

header .sidebar-toggle-btn i {
  color: #fff;
  font-size: 24px;
  line-height: 60px;
}

header .logout-btn {
  float: right;
  padding: 7px 15px;
  margin-right: 15px;
  margin-top: 12px;
  background: #444;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .logout-btn:hover {
  background: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-wrapper {
  height: 100%;
  position: relative;
  padding-left: 260px;
}

.nav-collapse {
  height: 100%;
  width: 260px;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #d7dee4;
  padding: 15px 0;
}

.sidebar-menu li > a {
  display: block;
  padding: 15px 35px;
  text-decoration: none;
  color: #444;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar-menu li > a:hover {
  background: #e4e9ee;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar-menu li > a i {
  position: absolute;
  top: 49%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content {
  padding: 15px;
}

.content__title {
  padding: 5px 0px;
  margin: 0 0 15px 0;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #d3d9e0;
  box-shadow: 0px 1px 0px #f5f5f5;
}

th, td {
  border: 1px solid #ccc;
}

.table {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
}

.table thead {
  background: #646464;
}

.table thead th {
  font-weight: normal;
  text-align: left;
  padding: 7px;
  color: #fff;
}

.table thead th:last-child {
  border-right: none;
}

.table tbody {
  padding: 7px;
}

.table tbody tr:nth-child(even) {
  background: #F5f5f5;
}

.table tbody td {
  padding: 7px;
}

.table tbody td:last-child {
  border-right: none;
}

/*# sourceMappingURL=style.css.map */
